/*HERO*/

#hero {
    width: 100%;
    position: relative;
    padding: 91px 0 0 0;
    bottom: 0px;
    background-color: #1f2029;
  }
  
  /*EDITED NERAM*/
  #hero:before {
    content: "";
    /*background: rgba(2, 5, 161, 0.91);*/
    background-image: linear-gradient(111.37738709038058deg, rgb(43, 45, 78) 1.557291666666667%, /*rgba(225, 20, 139, 1)*/#0077ff 101.34895833333333%);
    background-repeat: no-repeat;
    display: inherit;
    align-items: center;
    /*added*/
    position: absolute;
    bottom: 30px;
    top: 0;
    left: 0;
    right: 0;
    /*background-color: #1f2029;*/
  }
  
  #hero h1 {
    margin: 0 0 20px 0;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    font-family: 'Rubik', sans-serif;
  }
  
  #hero h1 span {
    color: #fff;
    border-bottom: 2px solid #ffffff;
  }
  
  #hero h2 {
    color: #fff;
    margin-bottom: 40px;
    font-size: .8rem;
    font-family: 'Rubik', sans-serif;
    text-align: justify;
    line-height: 27px;
  }
  
  #hero .btn-get-started {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #1acc8d;
  }
  
  #hero .btn-get-started:hover {
    background: #17b57d;
  }
  
  #hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  
  @media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
        /*background-color: aqua;*/
    }
  }
  
  @media (max-width: 991px) {
  
  
    #hero .animated {
        -webkit-animation: none;
        animation: none;
    }
  
    #hero .hero-img {
        text-align: center;
    }
  
    #hero .hero-img img {
        max-width: 45%;
    }
  
    #hero h1 {
        font-size: 1rem;
        line-height: 30px;
        margin-bottom: 10px;
    }
  
    #hero h2 {
        font-size: .7rem;
        line-height: 24px;
        margin-bottom: 30px;
    }
  }
  
  @media (max-width: 575px) {
    #hero .hero-img img {
        width: 80%;
    }
  }
  
  @-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }
  
    100% {
        transform: translateY(-10px);
    }
  }
  
  @keyframes up-down {
    0% {
        transform: translateY(10px);
    }
  
    100% {
        transform: translateY(-10px);
    }
  }
  
  .hero-waves {
    display: block;
    margin-top: 70px;
    width: 100%;
    height: 60px;
    z-index: 5;
    position: relative;
    top: -29px;
  }
  
  
  @media (max-width:767px) {
    #hero {
        padding-top: 70px;
    
    }
  }
  
  .wave1 use {
    -webkit-animation: move-forever1 10s linear infinite;
    animation: move-forever1 10s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
  }
  
  .wave2 use {
    -webkit-animation: move-forever2 8s linear infinite;
    animation: move-forever2 8s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
  }
  
  .wave3 use {
    -webkit-animation: move-forever3 6s linear infinite;
    animation: move-forever3 6s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
  }
  
  @-webkit-keyframes move-forever1 {
    0% {
        transform: translate(85px, 0%);
    }
  
    100% {
        transform: translate(-90px, 0%);
    }
  }
  
  @keyframes move-forever1 {
    0% {
        transform: translate(85px, 0%);
    }
  
    100% {
        transform: translate(-90px, 0%);
    }
  }
  
  @-webkit-keyframes move-forever2 {
    0% {
        transform: translate(-90px, 0%);
    }
  
    100% {
        transform: translate(85px, 0%);
    }
  }
  
  @keyframes move-forever2 {
    0% {
        transform: translate(-90px, 0%);
    }
  
    100% {
        transform: translate(85px, 0%);
    }
  }
  
  @-webkit-keyframes move-forever3 {
    0% {
        transform: translate(-90px, 0%);
    }
  
    100% {
        transform: translate(85px, 0%);
    }
  }
  
  @keyframes move-forever3 {
    0% {
        transform: translate(-90px, 0%);
    }
  
    100% {
        transform: translate(85px, 0%);
    }
  }


  /**** CONTENIDO ****/
 

/* Team Section
********************************************************************* */


/****** CAROUSEL TIMELINE ****/

.container-casos{
    max-width: 1400px;
    margin: 0 auto;
}

.timeline-carousel {
    padding: 0px 6.9444% 90px 6.9444%;
    position: relative;
    overflow: hidden;
  }
  .timeline-carousel:after, .timeline-carousel:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: #fafafa;
    z-index: 3;
    width: 0%;
  }
  .timeline-carousel:after {
    left: 0;
  }
  .timeline-carousel:before {
    right: 0;
    opacity: 0;
  }
  .timeline-carousel .slick-list {
    overflow: visible;
  }
  .timeline-carousel .slick-dots {
    bottom: -73px;
  }
  .timeline-carousel h1 {
    color: white;
    font-size: 1rem;
    line-height: 50px;
    margin-bottom: 40px;
    font-weight: 900;
    font-family: 'Rubik', sans-serif;
  }
  .timeline-carousel__image {
    padding-right: 30px;
  }
  .timeline-carousel__item {
    cursor: pointer;
  }
  .timeline-carousel__item .media-wrapper {
    opacity: 0.4;
    padding-bottom: 71.4%;
    -webkit-transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    -o-transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }
  .timeline-carousel__item:last-child .timeline-carousel__item-inner:after {
    width: calc(100% - 30px);
  }
  .timeline-carousel__item-inner {
    position: relative;
    padding-top: 45px;
  }
  .timeline-carousel__item-inner:after {
    position: absolute;
    width: 100%;
    top: 45px;
    left: 0;
    content: "";
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .timeline-carousel__item-inner .year {
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
    line-height: 36px;
    color: white;
    display: table;
    letter-spacing: -1px;
    padding-right: 10px;
    background-color: #1d1d1e;
    z-index: 1;
    position: relative;
    margin: -15px 0 20px;
    font-weight: 900;
  }
  .timeline-carousel__item-inner .year:after {
    content: "";
    position: absolute;
    display: block;
    left: -10px;
    top: 0;
    height: 100%;
    width: 10px;
    background-color: #1d1d1e;
    z-index: 3;
  }
  .timeline-carousel__item-inner .month {
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    color: #00b7fa;
    display: block;
    margin-bottom: 10px;
    font-weight: 900;
  }
  .timeline-carousel__item-inner p {
    font-size: .7rem;
    line-height: 18px;
    color: white;
    width: 90%;
    font-weight: 0;
    margin-bottom: 19px;
    font-family: 'Rubik', sans-serif;
  }
  .timeline-carousel__item-inner .read-more {
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
    color: #00b7fa;
    display: table;
    margin-bottom: 10px;
    font-weight: 900;
    text-decoration: none;
    position: relative;
  }
  .timeline-carousel__item-inner .read-more:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    border-bottom: 2px solid #00b7fa;
    -webkit-transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    -o-transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }
  .timeline-carousel__item-inner .read-more:hover:after {
    width: 100%;
  }
  .timeline-carousel__item-inner .pointer {
    height: 29px;
    position: relative;
    z-index: 1;
    margin: -4px 0 16px;
  }
  .timeline-carousel__item-inner .pointer:after, .timeline-carousel__item-inner .pointer:before {
    position: absolute;
    content: "";
  }
  .timeline-carousel__item-inner .pointer:after {
    width: 9px;
    height: 9px;
    border-radius: 100%;
    top: 0;
    left: 0;
    background-color: #00b7fa;
  }
  .timeline-carousel__item-inner .pointer:before {
    width: 1px;
    height: 100%;
    top: 0;
    left: 4px;
    background-color: #00b7fa;
  }
  .timeline-carousel .slick-active .media-wrapper {
    opacity: 1 !important;
  }
  
  .slick-dots {
    bottom: 60px;
    list-style: none;
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    z-index: 2;
  }
  .slick-dots li {
    cursor: pointer;
    display: inline-block;
    margin: 0 6px;
    position: relative;
    width: 15px;
    height: 15px;
  }
  .slick-dots li:last-child {
    margin-right: 0;
  }
  .slick-dots li.slick-active button {
    background: #00b7fa;
    border-color: #0077ff;
    border-radius: 50px;
  }
  .slick-dots li button {
    border-radius: 50px;
    display: block;
    font-size: 0;
    width: 19px;
    height: 19px;
    padding: 0;
    background-color: #fff;
    border-color: #fff;
    cursor: pointer;
    -webkit-transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    -o-transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }
  .slick-dots li button:hover {
    background: #00b7fa;
    border-color: #0077ff;
  }
  
  .link {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 20px;
    z-index: 9999;
  }
  .link a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
  }
  .link .fa {
    font-size: 28px;
    margin-right: 8px;
    color: #fff;
  }



  /****** FOOTER ******/

.footer-section {
	background: none;
	position: relative;
	/*max-width: 1200px;*/
	margin: 0 auto;
	width: 100%;
  font-family: 'Rubik', sans-serif;
  }

  .footer-section p{
    font-size: .7rem;
    }

  @media (max-width: 767px){
	.footer-section {
		background: none;
		position: relative;
		/*max-width: 1200px;*/
		margin: 0 auto;
		width: 100%;
	  }
	}

/*aqui movemos los iconos de contacto*/
	.row{
		margin-top: 5%;
		margin-left: 0%;
	}


  .footer-cta {
	border-bottom: 1px solid #373636;
  }
  .single-cta i {
	color: #00b7fa;
	font-size: 30px;
	float: left;
	margin-top: 8px;
  }
  .cta-text {
	padding-left: 15px;
	display: inline-block;
	margin: 10px auto;
  }
  .cta-text h4 {
	color: #fff;
	font-size: 0.7rem;
	font-weight: 600;
	margin-bottom: 2px;
  }
  .cta-text span {
	color: #757575;
	font-size: 0.7rem;
  }
  .footer-content {
	position: relative;
	z-index: 2;
	border-top: 1px solid #373636;
  }
  .footer-pattern img {
	position: absolute;
	top: 0;
	left: 0;
	height: 330px;
	background-size: cover;
	background-position: 100% 100%;
  }
  .footer-logo {
	margin-bottom: 30px;
  }
  .footer-logo img {
	  width: 200px;
  }
  .footer-text p {
	margin-bottom: 14px;
	font-size: 14px;
		color: #7e7e7e;
	line-height: 28px;
  }
  .footer-social-icon span {
	color: #fff;
	display: block;
	font-size: 100px;
	font-weight: 700;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 20px;
  }
  .footer-social-icon a {
	color: #fff;
	font-size: 16px;
	margin-right: 15px;
  }
  .footer-social-icon i {
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 38px;
	border-radius: 50%;
  }
  .facebook-bg{
	background: #3B5998;
  }
  .twitter-bg{
	background: #55ACEE;
  }
  .whatsapp-bg{
	background: #00bb2d;
	font-weight: 700;
  }
  .instagram-bg{
	background: linear-gradient(to bottom, #ff4400af , #8902f8);
  }

  .footer-widget-heading h3 {
	color: #fff;
	font-size: .8rem;
	font-weight: 600;
	margin-bottom: 40px;
	position: relative;
	margin-top: 30px;
  }

  
  .footer-widget-heading h3::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -15px;
	height: 2px;
	width: 50px;
	background: #00b7fa;
  }
  .footer-widget ul li {
	display: inline-block;
	/*float: left;*/
	width: 50%;
	margin-bottom: 12px;
  }
  .footer-widget ul li a:hover{
	color: #ff5e14;
  }
  .footer-widget ul li a {
	color: #878787;
	text-transform: capitalize;
  }
  .subscribe-form button i {
	color: #fff;
	font-size: 22px;
	transform: rotate(-6deg);
  }
  .copyright-area{
	background: #202020;
	padding: 19px 0;
  }
  .copyright-text p {
	/*Texto de abajo */
	margin: 0;
	font-size: 0.7rem;
	color: #878787;
  }
  .copyright-text p a{
	color: #00b7fa;
	font-size: 0.7rem;
	font-weight: 700;
  }
  .footer-menu li {
	display: inline-block;
	margin-left: 20px;
  }
  .footer-menu li:hover a{
	color: #00b7fa
  }
  .footer-menu li a {
	  font-weight: 700;
	font-size: 14px;
	color: #727272;
  }

/***** TERMINA FOOTER ******/

