/*HERO*/
#hero {
    width: 100%;
    position: relative;
    padding: 91px 0 0 0;
    bottom: 0px;
    background-color: #1f2029;
  }
  
  /*EDITED NERAM*/
  #hero:before {
    content: "";
    /*background: rgba(2, 5, 161, 0.91);*/
    background-image: linear-gradient(111.37738709038058deg, rgb(43, 45, 78) 1.557291666666667%, /*rgba(225, 20, 139, 1)*/#0077ff 101.34895833333333%);
    background-repeat: no-repeat;
    display: inherit;
    align-items: center;
    /*added*/
    position: absolute;
    bottom: 30px;
    top: 0;
    left: 0;
    right: 0;
    /*background-color: #1f2029;*/
  }
  
  #hero h1 {
    margin: 0 0 20px 0;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
  }
  
  #hero h1 span {
    color: #fff;
    border-bottom: 4px solid #0077ff;
  }
  
  #hero h2 {
    color: #fff;
    margin-bottom: 40px;
    font-size: 1rem;
    text-align: justify;
    line-height: 27px;
  }
  
  #hero .btn-get-started {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #1acc8d;
  }
  
  #hero .btn-get-started:hover {
    background: #17b57d;
  }
  
  #hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  
  @media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
        /*background-color: aqua;*/
    }
  }
  
  @media (max-width: 991px) {
  
  
    #hero .animated {
        -webkit-animation: none;
        animation: none;
    }
  
    #hero .hero-img {
        text-align: center;
    }
  
    #hero .hero-img img {
        max-width: 45%;
    }
  
    #hero h1 {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 10px;
    }
  
    #hero h2 {
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 30px;
    }
  }
  
  @media (max-width: 575px) {
    #hero .hero-img img {
        width: 80%;
    }
  }
  
  @-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }
  
    100% {
        transform: translateY(-10px);
    }
  }
  
  @keyframes up-down {
    0% {
        transform: translateY(10px);
    }
  
    100% {
        transform: translateY(-10px);
    }
  }
  
  .hero-waves {
    display: block;
    margin-top: 70px;
    width: 100%;
    height: 60px;
    z-index: 5;
    position: relative;
    top: -29px;
  }
  
  
  @media (max-width:767px) {
    #hero {
        padding-top: 70px;
    
    }
  }
  
  .wave1 use {
    -webkit-animation: move-forever1 10s linear infinite;
    animation: move-forever1 10s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
  }
  
  .wave2 use {
    -webkit-animation: move-forever2 8s linear infinite;
    animation: move-forever2 8s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
  }
  
  .wave3 use {
    -webkit-animation: move-forever3 6s linear infinite;
    animation: move-forever3 6s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
  }
  
  @-webkit-keyframes move-forever1 {
    0% {
        transform: translate(85px, 0%);
    }
  
    100% {
        transform: translate(-90px, 0%);
    }
  }
  
  @keyframes move-forever1 {
    0% {
        transform: translate(85px, 0%);
    }
  
    100% {
        transform: translate(-90px, 0%);
    }
  }
  
  @-webkit-keyframes move-forever2 {
    0% {
        transform: translate(-90px, 0%);
    }
  
    100% {
        transform: translate(85px, 0%);
    }
  }
  
  @keyframes move-forever2 {
    0% {
        transform: translate(-90px, 0%);
    }
  
    100% {
        transform: translate(85px, 0%);
    }
  }
  
  @-webkit-keyframes move-forever3 {
    0% {
        transform: translate(-90px, 0%);
    }
  
    100% {
        transform: translate(85px, 0%);
    }
  }
  
  @keyframes move-forever3 {
    0% {
        transform: translate(-90px, 0%);
    }
  
    100% {
        transform: translate(85px, 0%);
    }
  }
  




  .container-team {
    position: relative;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }

/* CONTAINER DE LAS TARJETAS*/  

img {
  max-width: 100%;
}

#fun-fact, #team {
  background: none;
}
#team .team-section-text {
  padding-top: 70px;
}
.section-count, .section-title {
  font-family: 'Rubik', sans-serif;
}
.section-count {
  height: 120px;
  overflow: hidden;
  font-weight: 100;
}
.section-count>span {
  color: #e6e9f4;
  display: block;
  font-size: 1.5rem;
  line-height: 5em;
  margin-left: 4%;
}
.section-title {
  color: #3e6edf;
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.section-text>p {
  margin-bottom: 15px;
}

/*posicion de la seccion*/
#team {
  padding: 0%;
}

#team .team-section-text {
  padding-top: 70px;
}

#team .team-single {
  border: 5px solid #e6e9f4;
  margin: 0 auto;
  padding: 14px;
  width: 320px;
  display: none;
}

#team .team-single.active {
  display: block
}

#team .team-list>ul {
  list-style: none;
  margin: 0;
  padding: 0
}

#team .team-list>ul>li {
  position: relative;
  margin: 15px 0
}

#team .team-list>ul>li:first-child {
  margin-top: 0
}

#team .team-list>ul>li:last-child {
  margin-bottom: 0
}

#team .team-list>ul>li.active>a>figure:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(131, 158, 226, .7)
}

#team .team-list>ul>li.active::after {
  color: #fff;
  content: "ï¡";
  font-family: fontawesome;
  margin-top: -10px;
  position: absolute;
  right: 10%;
  top: 50%
}

#team .team-list>ul>li>a>figure {
  border-radius: 50%;
  height: 100px;
  overflow: hidden;
  width: 100px;
  position: relative
}

#team .team-info>h4 {
  color: #3a3a3a;
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 20px;
  text-align: center
}

#team .team-img {
  position: relative
}

#team .team-img>img {
  width: 100%;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s
}

#team .team-social>ul {
  bottom: 0;
  list-style: none;
  margin: 0 0 0 20px;
  padding: 0;
  position: absolute;
  right: 30px;
  opacity: 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s
}

#team .team-social>ul>li>a {
  border-radius: 50%;
  color: #fff;
  display: block;
  font-size: 18px;
  height: 40px;
  margin: 15px 5px;
  padding: 8px;
  position: relative;
  text-align: center;
  width: 40px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s
}

#team .team-social>ul>li>a:hover {
  background: #3e6edf;
  color: #fff;
}

#team .team-social>ul>li>a::after {
  border: 1px solid #dee3f4;
  border-radius: 50%;
  content: "";
  height: 50px;
  left: -5px;
  position: absolute;
  top: -5px;
  width: 50px;
}

#team .team-single:hover .team-img>img {
  margin-left: -70px;
}

#team .team-single:hover .team-social>ul {
  opacity: 1;
  right: 0;
}

@media screen and (max-width:1200px) {
  #team {
      padding: 0px 0;
      margin: 0 auto;
  }
  #team .team-single {
    border: 5px solid #e6e9f4;
    margin: 0 auto;
    padding: 14px;
    width: 320px;
    display: none;
  }
  
}

@media screen and (max-width:991px) {
  #team {
      padding: 0px 0;
  }
  #team .team-single {
    border: 5px solid #e6e9f4;
    margin-left: 20px;
    padding: 14px;
    width: 250px;
    display: none;
    
  }
  
  
  #team .col-md-5.col-sm-12.pull-right {
      float: none!important;
  }
  #team .team-section-text {
      padding-bottom: 50px;
      padding-top: 0;
  }
}

@media screen and (max-width:767px) {

  .container-team {
    position: relative;
    width: 90%;
    max-width: 1200px;
    margin-left: 0%;
    padding: 0;
    box-sizing: border-box;
  }

  #team {
      padding: 0px 0;
      margin: 0 auto;
  }

  #team .team-single {
    border: 5px solid #e6e9f4;
    margin-left: 0px;
    padding: 14px;
    width: 250px;
    display: none;
  }

  #team .team-section-text {
      padding-bottom: 30px;
      padding-top: 0;
  }
  #team .team-single {
      margin: 30px auto 0;
      overflow: hidden;
      padding: 0px 0 0 0;
      width: 100%;
  }
  #team .team-list {
      text-align: center;
  }
  #team .team-list>ul>li {
      position: relative;
  }
  #team .team-list>ul>li>a>figure {
      height: 65px;
      position: relative;
      width: 65px;
  }
  #team .team-list>ul>li.active::after {
      margin-top: 10px;
      position: absolute;
      right: 30px!important;
      top: 100%;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg)
  }
  #team .team-list>ul>li {
      display: inline-block;
      margin: 15px 0;
  }
}









